# AIU global list of ineligible persons

In [ ]:
import pandas as pd
occurrence_per_nationality = pd.read_csv('data/occurrence_per_nationality.csv')

## Occurrences per nationality

### 1 January 2026

In [18]:
df = occurrence_per_nationality
df[df["count"] >= 10].sort_values("count", ascending=False)[["country_name", "count"]]

          country_name  count
27               Kenya    140
22               India    137
36  Russian Federation     75
9                China     31
24               Italy     20
45             T端rkiye     19
18            Ethiopia     17
47             Ukraine     17
48       United States     15
29             Morocco     13
19              France     11

### 1 September 2025

In [19]:
df = pd.read_csv('data/1_sep_2025_occurrence_per_nationality.csv')
df[df["count"] >= 10].sort_values("count", ascending=False)[["country_name", "count"]]

          country_name  count
26               Kenya    140
21               India    123
36  Russian Federation     62
9                China     33
23               Italy     19
44             T端rkiye     19
17            Ethiopia     17
46             Ukraine     15
28             Morocco     14
47       United States     13
18              France     10

## Number of countries per continent

In [21]:
df = occurrence_per_nationality
countries_per_continent = df.groupby('continent').size().sort_values(ascending=False)
print(countries_per_continent)

continent
Asia             15
Europe           14
Africa            8
South America     7
North America     4
Australia         2
dtype: int64

## Number of occurences per continent

In [20]:
df = occurrence_per_nationality
people_per_continent = df.groupby('continent')['count'].sum().sort_values(ascending=False)
print(people_per_continent)

continent
Asia             203
Africa           182
Europe           164
North America     23
South America     20
Australia          3
Name: count, dtype: int64